@media screen and (min-width: 992px) and (max-width: 1199px) { 

}
@media screen and (min-width: 992px) { 

}
@media screen and (max-width: 991px) { 

}
@media screen and (min-width: 1920px) { 
    .main-banner.main-banner-6x.main-banner-8x:before{
        left: -190px;
    }
    .testimonial-section-3x.testimonial-section-7x:before{
        left: 28%;
    }
    .main-banner.main-banner-7x:before{
        left: 6%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .single-featured-product .featured-content a.prod-title{
        display: inline-block;
    }
    .single-featured-product .featured-content h3{
        float: none;
        margin-top: 20px;
    }
    .page-banner .overlay-text,
    .main-banner .overlay-text,
    .main-banner.main-banner-7x .overlay-text,
    .main-banner-2x .overlay-text,
    .main-banner.main-banner-6x .overlay-text{
        width: 78%;
    }
    .main-banner .overlay-text{
        margin-top: 0;
    }
    .single-product .product-details .product-content h3 span{
        float: none;
        margin-top: 15px;
    }
    .main-banner.main-banner-7x:before,
    .testimonial-section-3x.testimonial-section-7x:before{
        display: none;
    }
    .main-banner-2x .overlay-text .main-banner-left .btn-large,
    .latest-product-1x .latest-product-title-right .course-menu button.filter{
        margin-bottom: 10px;
    }
    .social-link ul li{
        margin-bottom: 15px;
    }
    .product-description-1x .product-description-right .author-mailling-form .mailling-form-content .single-input .form-group{
        margin-left: 10px;
    }
    .course-grid-list .media .media-body .product-content h3 span {
        float: none;
        display: block;
        margin-top: 15px;
    }
    .sign-in-1x .sign-in-form a.btn-small,
    .course-grid-list .media .media-body .product-content h4 span i {
        float: none;
        margin-top: 15px;
    }
    
    .checkout-page-1x .order-info ul li span{
        float: none;
    }
    .sign-in-1x .sign-in-form ul li{
        margin-right: 15px;
    }
    .sign-in-1x .sign-in-form ul li:last-child{
        text-align: left;
    }

}
@media screen and (max-width: 991px) {
    /************** Home *************/
    .alertbox-1x .alert .close {
        top: 15px;
        right: 0;
    }
    .main-menu-1x {
        background: #0daf91;
        z-index: 0;
    }
    .main-menu {
        border-bottom: none;
        padding-top: 15px;
    }
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
    }
    .collapse.show {
        border-top: 1px solid rgba(255,255,255,0.1);  
    }
    .navbar-light .navbar-toggler{
        margin-bottom: 30px;
    }
    .navbar-light .navbar-brand img {
        margin-top: 17px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("../images/toggler-icon.png");
        height: 25px;
        object-fit: cover;
    }
    .navbar-light .navbar-toggler {
        color: transparent;
        border-color: transparent;
        outline: none;
        margin-bottom: 16px;
    }
    .navbar-light .navbar-nav .active > .nav-link{
        color: #b1f056;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .main-menu-green .navbar-light .navbar-nav .active > .nav-link{
        padding-bottom: 10px;
    }
    .latest-product-1x .latest-product-title-right .course-menu button.filter{
        margin-bottom: 10px;
    }
    .sign-in {
        display: block;
        margin-left: 15px;
        margin-top: 25px;
        padding-bottom: 20px;
    }
    .sign-in .border-left{
        border-left: 0;
        margin-top: 30px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    .sign-in a:hover{
        color: #fff;
    }
    .sign-in span sup {
        background: #b1f056;
    }
    .sign-in .media-dropdown-menu{
        display: none;
        position: relative;
    }
    .sign-in .media-dropdown:hover .media-dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
        top: 3%;
        margin-bottom: 20px;
    }
    .sign-in .cart-dropdown-menu{
        display: none;
        position: relative;
    }
    .sign-in .media-dropdown-menu ul,
    .sign-in .cart-dropdown-menu ul{
        width: auto;
        margin: 5% 0 0 0;
    }
    .sign-in .border-left:hover .cart-dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
        top: 3%;
        margin-bottom: 20px;
    }
    .sign-in .cart-dropdown-menu ul{
        position: relative;
        right: 0;
        margin: 0 0 30px 0;
    }
    .is-sticky .sign-in .border-left .cart-dropdown-menu{
        margin-bottom: 40px;
    }
    .is-sticky .sign-in .border-left:hover .cart-dropdown-menu {
        top: 25px;
    }
    .is-sticky .navbar-light .navbar-nav .active > .nav-link {
        padding-bottom: 10px;
    }
    .is-sticky .main-menu-white .sign-in .media-dropdown .media .media-body h3,
    .is-sticky .main-menu-white .sign-in .media-dropdown .media .media-body h5,
    .is-sticky .main-menu-white .main-menu .navbar-nav .nav-link{
        color: #333;
    }
    .is-sticky .main-menu-white .sign-in{
        margin-top: 20px;
    }
    .is-sticky .main-menu-white .navbar-nav{
        overflow: auto;
    }
    .is-sticky .media-dropdown {
        margin-top: 20px;
    }
    .main-menu{
        max-height: 350px;
        overflow: auto;
    }
    .main-banner {
        margin-top: 0;
        z-index: -1;
    }
    .main-banner .overlay-text{
        margin-top: 0;
    }
    .main-banner .overlay-text h3 {
        font-size: 35px;
        line-height: 45px;
    }
    .main-banner .overlay-text p {
        font-size: 16px;
        line-height: 27px;
    }
    .main-banner .overlay-text .slider-feature ul li{
        display: block;
        margin-right: 0;
        line-height: 35px;
    }
    .latest-product-1x .latest-product-title-right {
        float: left;
        margin-top: 20px;
        margin-left: -10px;
    }
    .counter-section-1x .single-counter {
        margin-bottom: 30px;
    }
    .how-works-1x .work-reverse{
        margin: 30px;
    }
    .how-works-1x .work-reverse:after,
    .how-works-1x .work-reverse:before{
        display: none;
    }    
    .feature-1x .single-feature{
        margin-bottom: 30px;
    }
    .cta-1x .cta-right {
        float: left;
    }
    .footer-section-1x .footer-top .footer-top-right .footer-social-link {
        margin-bottom: 45px;
    }
    .footer-section-1x .footer-top .footer-top-left .single-link ul {
        margin: 31px 0 30px 0;
    }
    .footer-section-1x .footer-top .footer-top-left .footer-subscriber {
        margin-top: 20px;
    }
    .footer-section-1x .footer-bottom ul {
        float: left;
    }
    .footer-section-1x .footer-bottom ul li {
        margin-left: 0;
        margin-right: 30px;
    }
    /************** Service *************/
    .page-banner .overlay-text{
        width: 67%;
    }
    .no-padding-left{
        padding-left: 15px;
    }
    .no-padding-right{
        padding-right: 15px;
    }
    .about-us-2x .about-us-right img{
        margin: 50px 0;
    }
    .service-4x .service-4x-left{
        margin-bottom: 50px;
        padding-right: 0;
        padding-top: 0;
    }    
    /************** About Us *************/
    .about-banner .overlay-text h3 {
        font-size: 35px;
    }
    .about-banner .overlay-text h4 {
        font-size: 20px;
    }
    .features-description-1x .right-description,
    .features-description-2x .single-description-img img{
        margin-top: 30px;
    }
    .testimonial-section-1x .slider-content{
        padding: 0;
    }
    /************** Author Profile *************/
    .author-profile-banner {
        padding: 75px 0 45px 0;
    }
    .author-profile-decsription{
        padding-bottom: 70px;
    }
    .feature-1x{
        padding: 50px 0 20px 0;
    }
    /************** All Course *************/
    .course-header-1x .course-header-right .course-tab {
        text-align: left;
    }
    .course-header-1x .course-header-right .course-tab ul {
        float: none;
        margin-left: 0;
        text-align: left;
    }
    .course-grid-list .media {
        display: block;
    }
    .course-header-1x .course-grid-list .media img {
        max-width: 100%;
    }
    .course-header-1x .course-header-right .course-tab .nav-tabs .nav-link {
        padding: 10px 15px 0 0px;
    }
    /************** Product single One *************/
    .product-description-1x .product-description-right {
        margin-top: 50px;
    }
    /************** Product Single Two *************/
    .main-banner-2x .hvrbox,
    .main-banner-2x .hvrbox img{
        height: 500px;
    }
    .banner-slider{
        display: none;
    }
    .counter-section-2x:after,
    .counter-section-2x:before{
        display: none;
    }
    .counter-section-2x{
        padding: 42px 0 12px 0;
    }
    .counter-section-2x .single-counter {
        margin-bottom: 30px;
    }
    .features-description-1x .single-description-img img{
        margin-bottom: 30px;
    }
    .features-description-1x .single-description {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .service-1x .product-feature-image {
        margin-right: auto;
    }
    .checkout-docs .checkout-docs-left {
        padding: 0 0 50px 0;
    }
    /************** Career page *************/
    .job-single-1x .job-features img {
        margin: 20px 15px 20px 0;
    }
    .job-single-1x .job-single-content .social-link {
        float: left;
    }
    /************** Events page *************/
    .events-banner .overlay-text .countdown-timer ul li{
        width: 100px;
        font-size: 20px;
    }
    .events-banner .overlay-text h3 {
        font-size: 22px;
    }
    .events-banner .overlay-text h5 {
        font-size: 15px;
    }
    .about-us-3x .about-us-right{
        margin-top: 50px;
    }
    .client-1x{
        padding: 100px 0 70px 0;
    }
    .pricing-plan-1x{
        padding: 100px 0 70px 0;
    }
    .pricing-plan-1x .single-pricing{
        margin-bottom: 30px;
    }
    /************** Contact Us *************/
    .contact-us-right {
        margin-top: 50px;
    }
    .feature-2x .single-feature{
        margin-bottom: 30px;
    }
    /************** Comming Soon Banner *************/
    .comming-soon-banner .overlay-text h3 {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .comming-soon-banner .overlay-text .countdown-timer ul{
        margin-bottom: 40px;
    }
    .comming-soon-banner .overlay-text .countdown-timer ul li{
        font-size: 35px;
    }
    .comming-soon-banner .overlay-text .countdown-timer ul li span{
        font-size: 16px;
    }
    .comming-soon-banner .overlay-text .subscribe-form {
        margin: 0 100px;
    }
    .comming-soon-banner .overlay-text .footer-social-link ul {
        margin: 40px 0 0 0;
        padding: 0;
    }
    /************** Blog Single *************/
    .blog-single-1x .social-link ul li {
        display: inline-block;
    }
    .blog-single-1x .blog-single-left-content .comment-section .media {
        display: block;
    }
    .blog-single-1x .blog-single-left-content .comment-section .media img{
        margin-bottom: 25px;
    }
    .blog-author {
        margin: 0;
    }
    /************** Blog list *************/
    .blog-list-1x .course-pagination {
        text-align: center;
    }
    .blog-list-right {
        margin-top: 50px;
    }
    .blog-single-1x .blog-author {
        margin: 0 0 20px 0;
    }
    /************** Sign Up *************/
    .sign-in-1x .sign-up-right {
        margin-top: 50px;
    }
    /************** Author Profile *************/
    .author-profile-right .sales-info,
    .author-profile-left {
        margin-bottom: 30px;
    }
    /******************** sign up ***************/
    .sign-in-1x .sign-in-form {
        padding: 30px;
    }
    .sign-in .media-dropdown .media{
        margin-left: 15px;
    }
    .sign-in .media-dropdown:hover .media-dropdown-menu{
        z-index: 9999;
    }
    /************** Home two*************/
    .top-menu-1x .top-menu-right ul {
        float: left;
    }
    .top-menu-1x .top-menu-right ul li:nth-child(2){
        border-left: 0;
    }
    .main-menu-1x.main-menu-white{
        background: #fff;
    }
    .main-menu-1x.main-menu-white .navbar-light .navbar-toggler-icon{
        background-image: url(../images/toggler-icon-2.png);
    }
    .main-menu-1x.main-menu-white .collapse.show {
        border-top: 1px solid rgba(211, 211, 211,0.5);
    }
    .main-menu-1x.main-menu-white .sign-in span sup{
        background: #0daf91;
    }
    .main-menu-white .sign-in{
        position: initial;
        margin-left: 0
    }
    .main-menu-white .sign-in .media-dropdown .media{
        margin-left: 0
    }
    .navbar-toggler{
        padding-left: 0;
    }
    /************* Software landing page ************/
    .service-1x .product-feature-image {
        margin-right: auto;
    }
    .service-1x .product-feature-image img{
        margin-left: 0;
    }
    .main-banner-2x .overlay-text {
        width: 70%; 
    }
    .main-banner-2x .overlay-text .main-banner-left {
        margin-top: 0;
    }
    .main-banner-2x .overlay-text .main-banner-left h3 {
        line-height: 45px;
    }
    /************** CArt page *************/
    .cart-page-1x .cart-page-content .table th .media{
        display: block;
    }
    /************** product single two *************/
    .author-profile-banner.author-profile-banner-2x .sale-price-info ul,
    .product-single-banner .product-banner-right h3{
        float: left;
    }
    .author-profile-banner.author-profile-banner-2x .sale-price-info ul li {
        display: block;
        list-style: none;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .product-description-1x.product-description-2x .product-description-left{
        padding: 30px;
    }
    .product-description-1x.product-description-2x .product-description-left .product-description-tab .tab-content .authors-review .media,
    .product-description-1x.product-description-2x .comment-section .media,
    .product-description-1x.product-description-2x .product-description-left .product-description-tab ul {
        display: block;
    }
    .product-description-1x.product-description-2x .product-description-left .product-description-tab .tab-content .authors-review .media img,
    .product-description-1x.product-description-2x .comment-section .media img{
        margin-bottom: 30px;
    }

    /************** Home Six *************/
    .main-banner.main-banner-6x .overlay-text {
        width: 66%;
    }
    .main-banner.main-banner-6x .overlay-text .slider-content-left h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .main-banner.main-banner-6x .overlay-text .slider-content-left p {
        font-size: 18px;
        line-height: 27px;
    }
    .main-banner.main-banner-6x .overlay-text .slider-content-left a.btn-large {
        font-size: 17px;
        padding: 15px 40px;
    }
    .main-banner.main-banner-6x .slider-content-right {
        text-align: center;
    }
    .main-banner.main-banner-6x .overlay-text .slider-content-right img {
        max-width: 400px;
        height: auto;
        margin-top: 30px;
    }
    .sign-in .cart-dropdown-menu span.triangle-arrow{
        left: 4px;
    }
    .sign-in .border-left{
        margin-bottom: 0;
    }
    .featured-product-3x .single-featured-product .featured-content h3 {
        display: block;
        float: none;
        margin: 30px 0 20px 0;
    }
    .single-featured-product .featured-content h3{
        float: none;
        display: block;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    /*********************** home 8 *********************/
    .testimonial-section-3x.testimonial-section-7x:before,
    .main-banner.main-banner-7x:before,
    .latest-product-1x.latest-product-2x.latest-product-8x:before,
    .featured-product-3x.featured-product-8x:before,
    .main-banner.main-banner-6x.main-banner-8x:before{
        display: none;
    }
    .main-banner.main-banner-7x .overlay-text{
        width: 66%;
    }
    .main-menu-1x.main-menu-6x{
        background: #fff;
    }
    .main-menu-1x.main-menu-6x .navbar-light .navbar-toggler-icon {
        background-image: url(../images/toggler-icon-2.png);
    }
    .is-sticky .main-menu-1x.main-menu-6x .navbar-light .navbar-toggler-icon {
        background-image: url(../images/toggler-icon.png);
    }
    .is-sticky .main-menu-1x.main-menu-6x{
        background: #0daf91;
    }
    .featured-product-single-8 .media{
        display: block;
    }
    .featured-product-single-8 .media .media-body{
        padding-top: 50px;
        margin-left: 0;
    }
    .featured-product-single-8 .media h4{
        top: 35px;
    }
    .featured-product-single-8 .media .media-body h2{
        margin-left: 0;
    }

}
@media screen and (max-width: 730px) { 

}
@media screen and (max-width: 480px) {
    /************** Home *************/
    .main-banner .overlay-text .styleSelect {
        display: none;
    }
    .single-product .product-details .product-content h3 span {
        float: none;
        margin-top: 25px;
    }
    /************** Service *************/
    .page-banner .overlay-text {
        width: 94%;
    }
    .about-us-2x .about-us-left {
        padding: 50px 15px;
    }
    /************** Product Single Two *************/
    .main-banner-2x .overlay-text h3{
        font-size: 35px;
        line-height: 45px;
    }
    .main-banner-2x .overlay-text .btn-large{
        margin-bottom: 20px;
    }
    .product-description-1x .product-description-left .product-description-tab .tab-content .comment-section .media{
        display: block;
    }
    .product-description-1x .product-description-left .product-description-tab .tab-content .comment-section .media img{
        margin-bottom: 20px;
    }
    /************** Comming Soon Banner *************/
    .comming-soon-banner .overlay-text .countdown-timer ul li{
        font-size: 25px;
        margin-right: 30px;
    }
    /************** ALL Events *************/
    .events-1x .events-single b {
        top: 196px;
    } 
    .events-1x .events-single .events-single-content a{
        margin-top: 0;
    }  
    /************** Blog List *************/
    .blog-list-1x .blog-list-single span.blog-date{
        margin: -51px 0 0 0;
        border-radius: 0;
    } 
    .blog-list-1x .blog-list-single .blog-list-content{
        padding: 30px;
    }
    .blog-single-1x .blog-single-left-content .blog-single-body h2{
        font-size: 40px;
        line-height: 50px;
    }
    /************** Home two*************/
    .top-menu-1x .top-menu-right ul {
        float: left;
        margin: 20px 0;
    }
    .top-menu-1x .top-menu-right ul li{
        display: block;
        padding: 10px 0;
    }
    .top-menu-1x .top-menu-right ul li:nth-child(2){
        padding-left: 0;
    }
    /*********** Author Profile ***************/
    .product-description-1x .product-description-left .product-description-tab .tab-content .authors-review .media{
        display: block;
    }
    .product-description-1x .product-description-left .product-description-tab .tab-content .authors-review .media img{
        margin-bottom: 30px;
        margin-right: 0;
    }
    /************* Software landing page ************/
    .main-banner-2x .overlay-text {
        width: 92%; 
    }
    .main-banner-2x .overlay-text .main-banner-left .btn-large{
        margin-bottom: 30px;
    }
    /************* Checkout page ************/
    .checkout-page-1x .order-info ul li span{
        float: left;
        display: contents;
    }
    /************* Home 7 ************/
    .main-banner.main-banner-7x .overlay-text {
        width: 93%;
    }
    .main-banner.main-banner-6x .overlay-text {
        width: 94%;
    }
    .main-banner.main-banner-7x .overlay-text .slider-content-left h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .main-banner.main-banner-7x .overlay-text .slider-content-right h2 {
        font-size: 18px;
        line-height: 27px;
    }
    .testimonial-section-3x .single-testimonial h2 {
        font-size: 20px;
        line-height: 27px;
    }
    .latest-product-1x.latest-product-2x .title-left h2,
    .featured-product-3x .title-left h2,
    .service-3x .title-left h2 {
        font-size: 30px;
        line-height: 40px;
    }


}
@media screen and (max-width: 320px) {
    /************** Home *************/
    .alertbox-1x .alert .close {
        top: 42px;
    }
    .sign-in .cart-dropdown-menu ul li .media .media-body h4{
        display: block;
    }
    .sign-in .cart-dropdown-menu ul li .media .media-body h3 span,
    .sign-in .cart-dropdown-menu ul li .media .media-body h3,
    .sign-in .cart-dropdown-menu ul li .media .media-body h4 span {
        float: left;
        margin: 15px 0;
    }
    .main-banner .overlay-text .slider-feature ul li{
        line-height: 35px;
    }

    /************** About us *************/
    .about-banner .overlay-text {
        width: 100%;
    }
    /************** All Course *************/
    .product-list-banner .overlay-text h3 {
        font-size: 20px;
        line-height: 30px;
    }
    /************** Product Single One *************/
    .product-description-1x .product-description-left .image-bottom{
        padding: 0 0 25px 0;
    }
    .product-description-1x .product-description-left .product-image i.fa.fa-angle-right.slick-arrow{
        right: 10px;
    }
    .product-description-1x .product-description-left .product-image i.fa.fa-angle-left.slick-arrow{
        right: 60px;
    }
    .product-description-1x .product-description-left .image-bottom-share .social-link {
        float: left;
    }
    .product-description-1x .product-description-left .image-bottom-share p{
        margin-bottom: 30px;
    }
    .product-description-1x .product-description-left .nav {
        display: block;
    }
    /************** Product Single Two *************/
    .main-banner-2x .overlay-text .btn-bordered{
        margin-bottom: 20px;
        display: inline-block;
    }
    /************** Career page *************/
    .career-banner .overlay-text h3 {
        font-size: 25px;
    }
    .job-board-1x .single-job h2 span{
        display: none;
    }
    .career-banner .overlay-text p {
        font-size: 16px;
    }
    /************** Events page *************/
    .events-banner .overlay-text .countdown-timer{
        display: none;
    }
    /************** Comming Soon Banner *************/
    .comming-soon-banner .overlay-text .subscribe-form {
        margin: 0 30px;
    }
    .comming-soon-banner .overlay-text .subscribe-form .input-group input[type="email"]{
        font-size: 16px;
    }
    /************** Sign Up *************/

    .sign-in-1x .sign-up-btn ul li {
        width: auto; 
        margin-right: 10px;
    }
    .sign-in-1x .sign-in-form a.btn-small{
        float: left;
        margin-top: 30px;
    }
    .sign-in-1x .sign-in-form p {
        margin: 100px 0 0 0;
    }
    .sign-in-btn.sign-up-btn p {
        margin: 0 0 0 0;
    }
    .sign-in-1x .sign-in-form ul li{
        display: block;
        line-height: 35px;
    }
    .sign-in-1x .sign-in-form ul,
    .sign-in-1x .sign-in-form ul li:last-child{
        text-align: left;
    }
    /************* Checkout page ************/
    .checkout-page-1x .payment-info ul li {
        display: inline-block;
        margin-bottom: 20px;
    }
    /************* Home 6 ************/
    .main-banner.main-banner-6x .overlay-text {
        width: 92%;
    }
    .featured-product-single-8 .media h4{
        display: block;
    }
    .featured-product-single-8 .media h4 img{
        margin-bottom: 10px;
    }
    .featured-product-single-8 .media .media-body a.prod-title{
        font-size: 25px;
        line-height: 33px;
    }
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
