<div class="main-menu-1x main-menu-6x">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-menu">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light btco-hover-menu">

                        <a class="navbar-brand" href="./">
                            <img src="{{ site.logo.color }}" class="d-inline-block align-top" alt="Image">
                        </a>
                        <a class="navbar-brand white-logo" href="./">
                            <img src="{{ site.logo.white }}" class="d-inline-block align-top" alt="Image">
                        </a>

                        {% include header-menu.html %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>