<div class="page-banner about-banner">                 
    <div class="hvrbox">
        <img src="{{ page.slider }}" alt="Mountains" class="hvrbox-layer_bottom">
        <div class="hvrbox-layer_top">
            <div class="container">
                <div class="overlay-text text-center">                              
                    <h3>{{ page.title }}</h3>
                    <h4>{{ page.description }}</h4>
                </div>
            </div>
        </div>
    </div>                       
</div>   