<div class="main-banner main-banner-6x main-banner-8x">                       
	<div class="hvrbox">
		<img src="images/banner-1.png" alt="Mountains" class="hvrbox-layer_bottom">
		<div class="hvrbox-layer_top">
			<div class="container">
				<div class="overlay-text">                      
					<div class="row">
						<div class="col-md-6">
							<div class="slider-content-left">
								<h1>We Provide <br> Answers.</h1>
								<p>You can set up CodeReek in minutes with just a few lines of code and start to provide answers about your software quality </p>
								<a href="#" class="btn-large">Monitor Your Application</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="slider-content-right">
								<img src="images/banner-4.png" alt="Images">
							</div>
						</div>
					</div>          
				</div>
			</div>
		</div>
	</div>                       
</div>
