<div class="cta-1x">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="cta-left">
                    <h3>Start Tracking Your Application!</h3>
                    <p>Set up CodeReek in minutes with just a few lines of code. Get notifications via email, SMS, or chat as part of an existing workflow when errors occur or resurface.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="cta-right">
                    <a href="#" class="btn-large">Track Your Application</a>
                </div>
            </div>
        </div>
    </div>
</div>