@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800|Poppins:400,400i,500,500i,600,600i,700,700i,800,900');
/* All Fonts */
$font-popins: 'Poppins', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;


/* All Color */
$color-white: #fff;
$color-body: #4a4a4a;
$color-black: #333333;
$color-section-bg: #f9f9f9;
$color-green: #0daf91;

/* Extra color */
$color-meta: #9f9f9f;
$color-dark-black: #000000;
$color-ash: #ddd;
$color-border: #eee;
$color-star: #fcb926;

$color-yellow: #fbbe2b;
$color-dep-yellow: #fb972b;
$color-light-green: #b1f056; 
$color-violet: #6f2fec;
$color-deep-violet: #764ba2;

/* Social icon color */
$color-facebook: #3b5998;
$color-pinterest: #c92228;
$color-instagram: #fb3958;
$color-twitter: #3cbee3;
$color-google: #e13928;













