/*
Default Color
Color name: Blue;
Color Code: #0876cc;
*/
/*Reset Css*/
::-moz-selection {
  background: #0876cc;
}
::selection {
  background: #0876cc;
}

button,
input,
select,
optgroup,
textarea {
  color: #0876cc;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #0876cc; 
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
textarea.form-control:focus {
  border-color: #0876cc;
  box-shadow: 0 0px 0px #0876cc inset, 0 0 0px #0876cc; 
}
a:hover,
a:focus,
a:active {
  color: #0876cc;
}
/*---------------------------- End of Reset Code ----------------*/

/* background */
.author-profile-banner.author-profile-banner-2x .sale-price-info ul a.btn-large:hover,

.product-description-1x .product-description-left .product-description-tab .tab-content .item-faq .single-faq .card-header .accordion-toggle,
.violet-cta .cta-right .btn-large:hover,
.product-description-1x .product-description-left .product-description-tab .tab-content .authors-review .media .media-body h3 b,
.ColorSwitcher__control,
.comming-soon-banner .overlay-text .footer-social-link ul li i,
.about-us-3x .about-us-left .btn-bordered:hover,
.events-1x .events-single .events-single-content a.btn-small:hover,
.events-1x .events-single b,
.blog-list-1x .blog-list-right .blog-subscriber .btn-search,
.blog-list-1x .blog-list-right .tag-link a:hover,
.blog-list-1x .blog-list-right .blog-search .btn-search,
.blog-list-1x .blog-list-single .blog-list-content .blog-footer a.btn-small:hover,
.blog-list-1x .blog-list-single span.blog-date,
.job-board-1x .single-job a:hover,
.features-description-2x .single-description .btn-bordered,
.testimonial-section-2x ul.slick-dots li.slick-active button,
.about-banner .overlay-text a.btn-circle,
.product-description-1x .product-description-left .image-bottom a.btn-small:hover,
.main-menu-green,
.course-grid-list .media:hover .product-content h3 a.btn-bordered,
.latest-product-1x .latest-product-title-right .course-menu button:hover,
.latest-product-1x .latest-product-title-right .course-menu button.active,
.single-product:hover .product-details .product-content h3 .btn-bordered,
.featured-product-1x ul.slick-dots li.slick-active button,
.backtotop,
.footer-section-1x .footer-top .footer-top-left .footer-subscriber button.btn-subscriber,
.cta-1x .cta-right .btn-large:hover,
.main-banner .overlay-text button.btn.btn-search,
.sign-in span sup,
a.btn-bordered:hover,
a.btn-ellips,
a.btn-small,
a.btn-large{
  background: #0876cc;
}

/* color */
.main-menu-1x.main-menu-6x .sign-in a:hover,
.author-profile-banner.author-profile-banner-2x .sale-price-info ul a.btn-small:hover,
.author-profile-banner.author-profile-banner-2x .sale-price-info ul a.btn-large,
.author-profile-banner.author-profile-banner-2x .sale-price-info ul .item-price h2 span,
.product-single-banner .product-banner-right h3 i,
.main-menu-1x.main-menu-6x .main-menu .navbar-nav .nav-link:hover,
.main-menu-1x.main-menu-6x .navbar-light .navbar-nav .active > .nav-link,
.service-3x .single-service:hover a,
.featured-product-single-8 .media h4 a:hover,
.single-featured-product:hover a.prod-title,
.single-featured-product .featured-content a.prod-title:hover,
.single-featured-product .featured-content h3 span,
.featured-product-single-8 .media .media-body a.prod-title:hover,
.testimonial-section-3x .single-testimonial i,
.featured-product-single-8 .media .media-body h2,
.service-3x .single-service a:hover,

.product-description-1x .product-description-left .product-description-tab .tab-content .item-faq .single-faq .card-header .accordion-toggle.collapsed:after,
.comment-section .media .media-body h5 span a,
.comment-section .media .media-body h5,
.checkout-page-1x .order-info ul li a,
.cart-page-1x .cart-page-content .table td a,
.cart-page-1x .cart-page-content .table th .media .media-body a:hover,
.sign-in .cart-dropdown-menu ul li .media .media-body h3,
.sign-in .cart-dropdown-menu ul li .media .media-body h4 a:hover,
.error-page .error-page-content span,
.btco-hover-menu .sign-in .media-dropdown-menu ul li:hover a,
.product-description-1x .product-description-left .product-description-tab .tab-content .author-downloads a,
.main-menu-white .navbar-light .navbar-nav .nav-link:hover,
.main-menu-white .navbar-light .navbar-nav .active > .nav-link,
.about-us-3x .about-us-left .btn-bordered,
.about-us-3x .about-us-left a.btn-small:hover,
.about-us-3x .about-us-left h2 span,
.events-1x .events-single .events-single-content a.btn-small,
.events-1x .events-single .events-single-content a:hover,
.events-banner .overlay-text .countdown-timer ul li:nth-child(1),
.events-banner .overlay-text h4,
.blog-1x .blog-single .blog-single-content a:hover,
.blog-single-1x .blog-single-left-content .comment-section .media .media-body h5 span a,
.blog-single-1x .blog-single-left-content .comment-section .media .media-body h5,
.blog-list-1x .blog-list-right .category-link ul li a:hover,
.blog-list-1x .blog-list-right .recent-popular-post .recent-popular-tab .recent-post .media a:hover,
.blog-list-1x .blog-list-right .recent-popular-post ul.recent-popular-nav li .active,
.blog-list-1x .blog-list-single .blog-list-content .blog-footer .dropright button i,
.blog-list-1x .blog-list-single .blog-list-content .blog-footer a.btn-small,
.blog-list-1x .blog-list-single .blog-list-content h2 a:hover,
.job-single-1x .job-features i,
.job-board-1x .single-job a,
.job-board-1x .single-job p i,
.job-board-1x .single-job h2 span,
.sign-in-1x .sign-in-form h4 a,
.sign-in-1x .sign-in-form ul li a:hover,
.features-description-2x .single-description .btn-bordered:hover,
.features-description-2x .single-description h2 span,
.testimonial-section-2x .slider-content p i,
.about-us-2x .about-us-left h2 span,
.course-header-1x .course-header-left .category ul li a:hover,
.course-header-1x .course-header-right .course-tab .nav-tabs .nav-link.active,
.product-description-1x .product-description-right .product-features ul li span a,
.product-description-1x .product-description-right .purchase-comments a i,
.product-description-1x .product-description-left .product-description-tab .nav-tabs .nav-link.active,
.social-link ul li:hover i,
.counter-section-2x .color-green span,
.course-grid-list .media:hover .product-content a,
.course-grid-list .media .media-body .product-content h3 span .btn-bordered,
.course-grid-list .media .media-body .product-content a:hover,
.single-product:hover .product-content a,
.single-product .product-details .product-content h3 span .btn-bordered,
.single-product .product-details .product-content a:hover,
.footer-section-1x .footer-top .footer-top-right .footer-social-link ul li:hover i,
.footer-section-1x .footer-top .footer-top-right ul li,
.cta-1x .cta-right .btn-large,
.main-menu-green .btco-hover-menu .collapse ul > li:hover > a.dropdown-item,
.btco-hover-menu .collapse ul > li:hover > a.dropdown-item,
.sign-in .media-dropdown .media .media-body h3,
a.btn-bordered{
  color: #0876cc;
}

/* Background Color */
.is-sticky .main-menu-1x,
.product-description-1x .product-description-right .price-box .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.checkout-page-1x .payment-info ul li .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.course-pagination ul .page-link:hover,
.course-pagination ul .page-item.active .page-link,
.course-header-1x .course-header-left .filter-product .container input:checked ~ .checkmark,
.course-header-1x .course-header-left .filter-product .container:hover input ~ .checkmark {
  background-color: #0876cc; 
}

/* Border 1px */
.featured-product-single-8 .media .media-body a.category:after,
.about-us-3x .about-us-left a.btn-small,
.sign-in-1x .sign-in-form h3:after,
.features-description-2x .single-description .btn-bordered,
.testimonial-section-2x ul.slick-dots li button,
.course-header-1x .course-header-left .filter-product .container input:checked ~ .checkmark,
.featured-product-1x ul.slick-dots li button, 
.main-banner .overlay-text button.btn.btn-search:focus,
a.btn-bordered {
  border: 1px solid #0876cc;
}

/*Border 3px*/
.product-description-1x .product-description-right .price-box .container input:checked ~ .checkmark,
.product-description-1x .product-description-right .price-box .container:hover input ~ .checkmark {
  border: 3px solid #0876cc; 
}

/*Border 5px*/
.product-description-1x .product-description-left .product-description-tab .nav-tabs .nav-link.active {
  border-top: 5px solid #0876cc; 
}
/*Border 2px*/
.product-description-1x .product-description-left .product-description-tab .tab-content .item-faq .single-faq .card-header {
    border-left: 2px solid #0876cc;
}
/*Border 10px*/
.trapezoid {
  border-bottom: 10px solid #0876cc;
}

/*Border 100px*/
.featured-sticker {
  border-top: 100px solid #0876cc;
}

/*Border 2px*/
.latest-product-1x.latest-product-2x .title-left h2:after,
.featured-product-3x .title-left h2:after,
.service-3x .title-left h2:after{
  border: 2px solid #0876cc;
}

/* Background RGBA*/
.single-speaker .hvrbox .hvrbox-layer_top {
    background: rgba(8, 118, 204, 0.85);
}

/* Box Shadow */
.about-banner .overlay-text a.btn-circle {
    box-shadow: 0px 0px 0px 9px rgba(8, 118, 204, 0.5);
}
.about-banner .overlay-text a.btn-circle:hover {
    box-shadow: 0px 0px 0px 18px rgba(8, 118, 204, 0.2);
}

.cta-1x {
    background: linear-gradient(-65deg, rgba(8, 118, 204, 0.95), rgba(8, 118, 204, 0.98)), url(../images/cta-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.product-description-1x.product-description-2x .product-description-tab .nav-tabs .nav-link.active{
  border-top: 0;
}
.is-sticky .main-menu-1x.main-menu-6x .sign-in a:hover,
.is-sticky .main-menu-1x.main-menu-6x .main-menu .navbar-nav .nav-link:hover,
.is-sticky .main-menu-1x.main-menu-6x .navbar-light .navbar-nav .active > .nav-link{
  color: #fff;
}